* {
    font-family: Verdana, sans-serif;
}

body {
    background-color: #114f;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 50%;
    max-height: 75vh;
}

.recipes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    border: 2px solid rgb(147, 28, 28);
    padding: 16px;
}

h1, .recipe {
    color: #afd325;
}

.recipe {
    text-decoration: none;
    border-bottom: 2px solid #afd325;
}